*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-color: rgba(65, 37, 103, 1);
}

header>nav{
    border: 2px solid red;
    display: flex;
    max-width: 1990px;
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

header>nav>div{
    display: flex;
    gap: 32px;
}

header nav h1{
    color: rgba(255, 255, 255, 1);
}

#wave{
   color: linear-gradient(47.64deg, rgba(247, 233, 63, 1),
rgba(251, 9, 180, 1),
rgba(145, 0, 248, 1));
}
