*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(65, 37, 103, 1); */
}

button:hover{
    transform: scale(1.08);
    transition: 0.3s;
}



header{
    background-color: rgba(26, 11, 46, 1);
}


/* navbar style */


header>nav{
    /* border: 2px solid red; */
    display: flex;
    max-width: 1990px;
    width: 75%;
    margin: 0 auto;
    /* padding: 20px 0; */
    justify-content: space-between;
    align-items: center;
}

header>nav>div{
    display: flex;
    gap: 32px;
}

header nav .logo{
    padding: 30px 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 32px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient( 47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12.5px 16px;
    border: none;
    border-radius: 10000px;
}

#hamburger-menu{
    display: none;
}


/* banner-style */

.banner{
    /* border: 2px solid red; */
    background: url('B13-A02-TechWave/assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: auto 1200px; */
}

.banner-content{
    /* border: 2px solid seagreen;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 34%; */
    margin: 110px auto;
}

.banner-content .circle{
    
    width: 100%;
    margin-bottom: 40px;
    animation: spin 3.5s linear  infinite ;
}

.micro{
   
    position: absolute;
    top: 33%;
    /* animation: spin 5s linear  infinite ; */
}

/* .banner-content .circle:hover{
    transform: scale(1,2);
    transition: 1s;
} */



.banner-content .circle img{
    width: 75%;
    /* padding-left: 10px; */
}

.banner .banner-content h1{
    color: rgba(255, 255, 255, 1);
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner .banner-content p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.banner .banner-content .banner-btn{
    display: flex;
    gap: 8px;
    /* margin-bottom: 101px; */
}

.banner .banner-btn .alt-btn0{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient( 47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12.5px 16px;
    border: none;
    border-radius: 10000px;
}
.banner .banner-btn .alt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-color: rgba(0, 255, 136, 1);
    background-color: transparent;
    border-radius: 10000px;
    color: rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
    padding: 13px 20px;
}



@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#new{
    color: rgba(26, 11, 46, 1);
    background-color: rgba(0, 255, 136, 1);
    border-radius: 1000px;
    padding: 8px 16px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 24%;
    left: 55%;
    font-size: 18px;
    font-weight: 600;
}

/* about-style */



main{
    background-color: rgba(26, 11, 46, 1);
    
    
}

.about{
    /* border: 2px solid red; */
    max-width: 1990px;
    width: 75%;
    margin: 0 auto;
    padding: 50px 0 120px
    /* padding: 20px 0; */
}

.about .texts{
    text-align: center;
}

.about .texts h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 16px;
}

.about .texts p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    opacity: 0.8;
    margin-bottom: 50px
}

.card-container{
    /* border: 2px solid; */
    text-align: center;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cards h1{
    color: rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.cards p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

hr{
    color: rgba(255, 255, 255, 1);
    opacity: 0.1;
}


/* choose-style */

.choose{
    background: rgba(35, 14, 61, 1);
    /* border: 1px solid red; */
    /* height: 1200px; */
}
.choose h1{
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 120px;
}

.grid-container{
    /* border: 2px solid; */
    width: 65%;
    max-width: 1990px;
    margin: 0 auto;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}

.audio{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    grid-row: 1/span 2;
    grid-column: 1/span 1;
    padding: 40px;
}

.audio img{
    margin: 80px 250px 16px 0;
}

.mobile img,
.resources img,
.global img,
.interviews img{
    margin-bottom: 16px;
}

.grid-container h2{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.grid-container p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.6;
}


.mobile{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    grid-row: 1/span 1;
    grid-column: 2/ span 2;
    padding: 40px;
}

.global{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    grid-row: 2/ span 1;
    grid-column: 2/span 2;
    padding: 40px;
}

.interviews{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    grid-row: 3/span 1;
    grid-column: 1/span 2;
    padding: 40px;
}

.resources{
    grid-row: 3 / span 1;
    grid-column: 3/span 1;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
}



.hidden{
    display: none;
}

/* feature-style */

.feature{
    /* border: 1px solid red; */
    background: rgba(26, 11, 46, 1);
    margin-top: 80px;
}

.feature h1{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.feature-container{
    /* border: 2px solid red; */
    width: 75%;
    max-width: 1990px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.feature-container .features-content{
    /* border: 2px solid blue; */
    width: 100%;
}

.feature-text{
    padding: 24px;
    border-radius: 0px 0px 24px 24px;
    background: rgba(37, 13, 68, 1);
}
.features-content h3{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: 700;
    /* margin-top: 24px; */
    margin-bottom: 12px;
}

.features-content p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 12px;
    opacity: 0.6;
    line-height: 24px;
}

.features-content #symbol{
    color: rgba(0, 255, 136, 1);
    display: flex;
    gap: 6px;
    font-size: 1rem;
    font-weight: 600;
    opacity: 1;
    line-height: normal;
}

iframe{
    border-radius: 24px 24px 0px 0px;
    background: url('B13-A02-TechWave/assets/hero-bg.png');
}


/* host-style */

.host{
    /* border: 2px solid red; */
    margin-top: 120px;
    padding-bottom: 120px;
}

.host h1{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.host-content{
    /* border: 2px solid beige; */
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    width: 75%;
    max-width: 1990px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    gap: 24px;
}

.host-content h2{
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.host-content p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
    line-height: 1.5rem;
    margin-bottom: 16px;
}

.logos{
    /* border: 1px solid; */
    text-align: start;
    display: flex;
    gap: 8px;
}

.logos img{
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 80%;
    padding: 10px;
}


/* footer-style */


footer{
    background: url('B13-A02-TechWave/assets/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.footer-container{
    /* border: 2px solid red; */
    width: 75%;
    max-width: 1990px;
    margin: 0 auto;
    padding: 200px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
}
#TechWave{
    margin-bottom: 60px;
}
.sponsors{
    /* border: 1px solid beige; */
    display: flex;
    margin-bottom: 30px;
    gap: 30px;
    /* padding-left: 10px; */
    
}

.inline{
    width: 60%;
    display: flex;
    padding-left: 0px;
    gap: 70px;
}
.sponsors-content{
    /* border: 1px solid red; */
    display: flex;
    gap: 8px;
}

.sponsors-content p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.6;
}

#copyright{
    text-align: center;
    color: rgba(250, 250, 250, 1);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
    margin-top: 30px;
}



/* mobile-responsive */

@media screen and (max-width:576px){

    button:hover{
    transform: scale(1);
    }

    .nav-menu,
    .btn{
        display: none;
    }

    .banner{
        background: url('B13-A02-TechWave/Image.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .banner-content{
        margin: 40px 20px;
    }

    .banner-content .circle {
    /* border: 6px solid black; */
    width: 60%;
    margin-bottom: 0;
    margin-top: 20px;
    margin-bottom: 24px;
    /* z-index: 3; */
    animation: spin 5s linear infinite;
    }

    .micro{
        width: 13%;
        top:22%;
    }

    #new{
        top: 16%;
    }


    
    header>nav{
        width: 95%;
        margin: 0px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    #hamburger-menu{
        display: inline;
        margin: 18px 20px 18px 0;
    }
    
    .about{
        width: 95%;
        max-width: 1990px;
        margin: 0 auto;
        padding: 40px 0;
        
    }
    
    .about br{
        display: none;
    }

    #br{
        display: inline;
    }
    
    .about .texts h1{
        font-size: 2rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .about .texts p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    opacity: 0.8;
    margin-bottom: 40px
    }

    .choose h1{
        padding-top: 40px;
        margin-bottom: 16px;
    }

    .card-container{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 40px;
    }

    .grid-container {
        /* border: 2px solid; */
        width: 65%;
        max-width: 1990px;
        margin: 0 auto;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }

    .audio,
    .mobile,
    .global,
    .resources,
    .interviews{
        padding: 24px;
    }

    .audio img {
        margin: 16px 0 16px 0;
    }

    .feature{
        margin-top: 40px;
    }

    .feature h1 {
        text-align: center;
        color: rgba(255, 255, 255, 1);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 24px;
    }
    
    .feature-text{
        /* height: 40%; */
        padding: 16px;
    }

    .feature-text h3{
        font-size: 1.25rem;
    }

    .feature-text h3,p{
        margin-bottom: 8px;
    }

    .feature-text h3 br{
        display: none;
    }

    .host{
        margin-top: 60px;
        text-align: center;
    }

    .host-content p>br{
        display: none;
    }

    .logos{
        justify-content: center;
    }

    
    footer {
        /* border: 2px solid ; */
        background:url('B13-A02-TechWave/footer.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 60px 0;
    }

    .footer-container{
        /* border: 2px sandybrown; */
        margin: 0 auto;
        padding-left: 20px;
    }

   #TechWave{
    text-align: center;
    margin-bottom: 20px;
   }

   #TechWave img{
    width: 50%;
   }

    .footer-content {
        /* border: 2px solid red; */
        max-width: 1990px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  

    .sponsors{
        width: 60%;
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        /* margin: 4px 0; */
    }

    .sponsors .inline{
        /* margin-top: 20px; */
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    .sponsors-content{
        /* border: 1px solid; */
        display: flex;
        gap: 8px;
    }

    .sponsors-content p{
        color: rgba(255, 255, 255, 1);
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.6;
    }

    #copyright{
        margin-top: 25px;
        color: rgba(250, 250, 250, 1);
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.6;
    }
   

    .choose .grid-container,
    .feature-container,
    .host-content{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    *{
        overflow-x: hidden;
    }
}

/* tablet-responsive */

@media screen and (min-width:577px) and (max-width:992px){
               button:hover{
    transform: scale(1);
    }

    .nav-menu,
    .btn{
        display: none;
    }

    .banner{
        background: url('B13-A02-TechWave/Image.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-content{
        margin: 40px 20px;
    }

    .banner-content .circle {
    /* border: 6px solid black; */
    width: 60%;
    margin-bottom: 0;
    margin-top: 20px;
    margin-bottom: 24px;
    /* z-index: 3; */
    animation: spin 5s linear infinite;
    }

    .micro{
        width: 13%;
        top:22%;
    }

    #new{
        top: 16%;
    }


    
    header>nav{
        width: 95%;
        margin: 0px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    #hamburger-menu{
        display: inline;
        margin: 18px 20px 18px 0;
    }
    
    .about{
        width: 95%;
        max-width: 1990px;
        margin: 0 auto;
        padding: 40px 0;
        
    }
    
    .about br{
        display: none;
    }

    #br{
        display: inline;
    }
    
    .about .texts h1{
        font-size: 2rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .about .texts p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    opacity: 0.8;
    margin-bottom: 40px
    }

    .choose h1{
        padding-top: 40px;
        margin-bottom: 16px;
    }

    .card-container{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 40px;
    }

    .grid-container {
        /* border: 2px solid; */
        width: 65%;
        max-width: 1990px;
        margin: 0 auto;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }

    .audio,
    .mobile,
    .global,
    .resources,
    .interviews{
        padding: 24px;
    }

    .audio img {
        margin: 16px 0 16px 0;
    }

    .feature{
        margin-top: 40px;
    }

    .feature h1 {
        text-align: center;
        color: rgba(255, 255, 255, 1);
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 24px;
    }
    
    .feature-text{
        /* height: 40%; */
        padding: 16px;
    }

    .feature-text h3{
        font-size: 1.25rem;
    }

    .feature-text h3,p{
        margin-bottom: 8px;
    }

    .feature-text h3 br{
        display: none;
    }

    .host{
        margin-top: 60px;
        text-align: center;
    }

    .host-content p>br{
        display: none;
    }

    .logos{
        justify-content: center;
    }

    
    footer {
        /* border: 2px solid ; */
        background:url('B13-A02-TechWave/footer.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 60px 0;
    }

    .footer-container{
        /* border: 2px sandybrown; */
        margin: 0 auto;
        padding-left: 20px;
    }

   #TechWave{
    text-align: center;
    margin-bottom: 20px;
   }

   #TechWave img{
    width: 50%;
   }

    .footer-content {
        /* border: 2px solid red; */
        max-width: 1990px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  

    .sponsors{
        width: 60%;
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        /* margin: 4px 0; */
    }

    .sponsors .inline{
        /* margin-top: 20px; */
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    .sponsors-content{
        /* border: 1px solid; */
        display: flex;
        gap: 8px;
    }

    .sponsors-content p{
        color: rgba(255, 255, 255, 1);
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.6;
    }

    #copyright{
        margin-top: 25px;
        color: rgba(250, 250, 250, 1);
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.6;
    }
   

    .choose .grid-container,
    .feature-container,
    .host-content{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    *{
        overflow-x: hidden;
    }
}


