*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(65, 37, 103, 1); */
}



header{
    
    background-color: rgba(26, 11, 46, 1);
}


/* navbar style */


header>nav{
    /* border: 2px solid red; */
    display: flex;
    max-width: 1990px;
    width: 75%;
    margin: 0 auto;
    /* padding: 20px 0; */
    justify-content: space-between;
    align-items: center;
}

header>nav>div{
    display: flex;
    gap: 32px;
}

header nav .logo{
    padding: 30px 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 32px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient( 47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12.5px 16px;
    border: none;
    border-radius: 10000px;
}

#hamburger-menu{
    display: none;
}


/* banner-style */

.banner{
    border: 2px solid red;
    background: url('B13-A02-TechWave/assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: auto 1200px; */
}

.banner-content{
    border: 2px solid seagreen; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 34%; */
    margin: 110px auto;
}

.banner-content .circle{
    border: 6px solid black;
    width: 100%;
    margin-bottom: 40px;
}

.banner-content .circle img{
    width: 75%;
    /* padding-left: 10px; */
}

.banner .banner-content h1{
    color: rgba(255, 255, 255, 1);
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner .banner-content p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.banner .banner-content .banner-btn{
    display: flex;
    gap: 8px;
    /* margin-bottom: 101px; */
}

.banner .banner-btn .alt-btn0{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient( 47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12.5px 16px;
    border: none;
    border-radius: 10000px;
}
.banner .banner-btn .alt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-color: rgba(0, 255, 136, 1);
    background-color: transparent;
    border-radius: 10000px;
    color: rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
    padding: 13px 20px;
}


/* about-style */



main{
    background-color: rgba(26, 11, 46, 1);
    
}

.about{
    /* border: 2px solid red; */
    max-width: 1990px;
    width: 75%;
    margin: 0 auto;
    padding: 50px 0 120px
    /* padding: 20px 0; */
}

.about .texts{
    text-align: center;
}

.about .texts h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 16px;
}

.about .texts p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    opacity: 0.8;
    margin-bottom: 50px
}

.card-container{
    /* border: 2px solid; */
    text-align: center;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cards h1{
    color: rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.cards p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

hr{
    color: rgba(255, 255, 255, 1);
    opacity: 0.1;
}





.hidden{
    display: none;
}

/* mobile-responsive */

@media screen and (max-width:576px){

    .nav-menu,
    button{
        display: none;
    }

    header>nav{
        width: 95%;
        margin: 0px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    #hamburger-menu{
        display: inline;
        margin: 18px 20px 18px 0;
    }
    
    .about{
        width: 95%;
        max-width: 1990px;
        margin: 0 auto;
        padding: 40px 0;
        
    }
    
    .about br{
        display: none;
    }

    #br{
        display: inline;
    }
    
    .about .texts h1{
        font-size: 2rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .about .texts p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    opacity: 0.8;
    margin-bottom: 40px
    }

    .card-container{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap: 40px;
    }


}

/* tablet-responsive */

@media screen and (min-width:577px) and (max-width:992px){
    .nav-menu,
    button{
        display: none;
    }

    header>nav{
        width: 95%;
        margin: 0px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    #hamburger-menu{
        display: inline;
        margin: 18px 20px 18px 0;
    }

    .about{
        width: 95%;
        max-width: 1990px;
        margin: 0 auto;
        padding: 70px 0;
        
    }
    
    .about br{
        display: none;
    }

    #br{
        display: inline;
    }
    
    .about .texts h1{
        font-size: 2rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .about .texts p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    opacity: 0.8;
    margin-bottom: 70px
    }

    .card-container{
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        /* gap: 20px; */
    }
}