*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(65, 37, 103, 1); */
}



header{
    
    background-color: rgba(26, 11, 46, 1);
}


/* navbar style */


header>nav{
    /* border: 2px solid red; */
    display: flex;
    max-width: 1990px;
    width: 75%;
    margin: 0 auto;
    /* padding: 20px 0; */
    justify-content: space-between;
    align-items: center;
}

header>nav>div{
    display: flex;
    gap: 32px;
}

header nav .logo{
    padding: 30px 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 32px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient( 47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12.5px 16px;
    border: none;
    border-radius: 10000px;
}

#hamburger-menu{
    display: none;
}


/* about-style */

main{
    background-color: rgba(26, 11, 46, 1);
}

.about{
    /* border: 2px solid red; */
    max-width: 1990px;
    width: 75%;
    margin: 101px auto;
    padding: 50px 0 120px
    /* padding: 20px 0; */
}

.about .texts{
    text-align: center;
}

.about .texts h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 16px;
}

.about .texts p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    opacity: 0.8;
    margin-bottom: 50px
}

.card-container{
    margin-top: 80px;
    
    display: flex;
    justify-content: space-around;

}

.cards h1{
    color: rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.cards p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

hr{
    color: rgba(255, 255, 255, 1);
    opacity: 0.1;
}




/* mobile-responsive */

@media screen and (max-width:576px){

    .nav-menu,
    button{
        display: none;
    }

    header>nav{
        width: 95%;
        margin: 0px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    #hamburger-menu{
        display: inline;
        margin: 18px 20px 18px 0;
    }
    
    .about{
        width: 90%;
        margin: 40px auto;
    }
    
    .about br{
        display: none;
    }

    #br{
        display: inline;
    }
    
    .about .texts h1{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 16px;
    }

    .about .texts p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    opacity: 0.8;
    margin-bottom: 40px
}
}

/* tablet-responsive */

@media screen and (min-width:577px) and (max-width:992px){
    .nav-menu,
    button{
        display: none;
    }

    header>nav{
        width: 95%;
        margin: 0px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    #hamburger-menu{
        display: inline;
        margin: 18px 20px 18px 0;
    }
}